* {

  --line-thickness: 1px;
  --line-color: rgb(218,220,224);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr 5fr 6fr;
  grid-template-rows: 10vh;
  align-items: center;
  /* padding: 0 2rem; */
  text-align: center;
  font-weight: 800;
}

.header::after {
  content: "";
  background-color: var(--line-color);
  position: absolute;
  width: 100vw;
  height: var(--line-thickness);
  left: 0;
  top: 10vh;
}

.header .title-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  justify-items: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.header i {
  font-size: 2.5rem;
  cursor: pointer;
}

.header .today-button, select, .nearby-buttons > button {
  height: 40px;
  width: 80px;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(218,220,224);
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.header > .today-button {
  justify-self: center;
  align-self: center;
}

.header .today-button:hover {
  background-color: #faf9f9;
}

.header .today-button:active {
  background-color: #ededed;
}

.header > .chevrons {
  justify-items: center;
  align-items: center;
}
.header > .chevrons > * {
  padding: 10px;
}

.header > .date {
  text-align: left;
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
}

.header > .side-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.3fr 3.3fr 1fr 1.1fr;
  grid-template-rows: 10vh;
  align-items: center;
  justify-items: center;
}

.header > select {
  width: 90px;
  padding: 5px;
  margin-left: 10px;
}

.nearby-buttons > button {
  width: 60px;
}

.nearby-buttons .cal-logo {
  background-color: rgb(180, 206, 236);
}

.profile-pic {
  justify-self: center;
  align-self: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic:hover {
  border: solid #a0a0a0;
  justify-self: left;
  width: 50px;
  height: 50px;
}

.profile-pic > img:hover {
  width: 50px;
  height: 50px;
  position: relative;
  left: -3px;
  top: -2px;
}

.container {
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 18vw;
  height: 90vh;
}

.create-button {
  background-color: #ffffff;
  border: none;
}

.create-button {
  align-items: center;
  margin-left: 8px;
  background: transparent;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.302), 0 1px 3px 1px rgba(60,64,67,.149);
  cursor: pointer;
  display: flex;
  height: 48px;
  margin-top: 20px;
  padding: 0 4px;
  width: 147.88px;
  border: solid;
  border-color: rgb(242,250,255);
  border-width: 1px;;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.create-button:hover {
  background-color: rgba(242,250,255, 0.6);
  box-shadow: 10px 10px 20px 0 rgba(60,64,67,.202), -10px 10px 20px 0 rgba(60,64,67,.202);
}

.create-button:active {
  background-color: rgba(242, 250, 255, 0.358);
}

.create-button svg {
  margin-left: 7px;
}

.create-button .create-text {
  margin-left: 10px;
  margin-right: 18px;
  font-size: 13px;
  font-weight: 600;
}

.calendar {

  --gap: 5px;
  --line-offset: calc(var(--gap) / 2);

  width: 82vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  border: var(--line-thickness) solid var(--line-color);
  gap: var(--gap);
  overflow: hidden;
}

.calendar > .date-box {
  position: relative;
  text-align: center;
  padding: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
}

.calendar > .date-box::before,
.calendar > .date-box::after {
  content: "";
  background-color: var(--line-color);
  position: absolute;
}

.calendar > .date-box::after {
  width: 100vw;
  height: var(--line-thickness);
  top: calc(var(--line-offset)*-1);
  left: 0;
}

.calendar > .date-box::before {
  width: var(--line-thickness);
  height: 100vh;
  top: 0;
  left: calc(var(--line-offset)*-1);
}

.mini-calendar {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  margin: 10px auto 10px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 35vh;
  width: 16vw;
}

.mini-header {
  font-size: 13px;
  font-weight: 700;
  width: 16vw;
  height: 5vh;
  margin: 20px auto 10px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 3px;
}

.mini-header > .curr-date {
  margin-left: 20px;
  justify-self: left;

}

.mini-header > .mini-chevrons > *{
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.mini-header > .mini-chevrons > *:hover {
  background-color: #ededed;
}

.date-box div,
.mini-calendar > div:not(.mini-header) {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 3px 0;
  margin: 0 auto;
  border-radius: 50%;
}

.date-box .prev-date:hover, .date:hover, .next-date:hover,
.mini-calendar .prev-date:hover, .date:hover, .next-date:hover {
  background-color: #ededed;
  border: none;
  cursor: pointer;
}

.prev-date,
.next-date {
  color: rgb(146, 151, 154);
}

.today {
  background-color: rgba(26,115,232);
  color: white;
  border-radius: 5px;
}

.today:hover {
  background-color: rgb(6,95,212);
  border: none;
  cursor: pointer;
}

.search-people {
  width: 15vw;
  height: 40px;
  margin: 10px auto 10px auto;
  font-size: 15px;
  font-weight: 500;
  color:#909090;
  background-color: #ededed;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-people > i {
  margin-right: 6px;
}

.my-calendars {
  font-size: 13px;
  font-weight: 700;
  width: 15vw;
  margin: 10px auto 10px auto;
}

.my-cal-title {
  margin-left: 6px;
}

#togC { display: none; }

#togL {
  display: block;
  height: 45px;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#togL > i {
  justify-self: center;
  align-self: center;
}

#togL:hover { background: #ededed; }

#content { display: none; }

#togC:checked + #content { display: block; }

.content-item {
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.content-item:hover {
  background-color: #ededed;
}

/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  /* align-self: center;
  justify-self: center; */
  padding-left: 35px;
  margin: auto 5px 40px 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.first {
  border: solid #039BE5;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark.first {
  background-color: #039BE5;
}

.second {
  border: solid #33B679;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark.second {
  background-color: #33B679;
}

.third {
  border: solid #0047a8;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark.third {
  background-color: #0047a8;
}

.task-window {
  background-color: white;
  border: none;
  position: absolute;
  left: 20vw;
  top: 20vh;
  box-shadow: 5px 5px 10px rgb(215, 215, 215);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.task-window-header {
  width: 100%;
  height: 10%;
  background-color: rgb(240, 240, 240);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: right;
  padding: 3px 5px 3px 6px;
}

.task-window-close-button {
  width: 8%;
  border-radius: 50%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.task-window-close-button:hover {
  background-color: rgb(230, 230, 230);
}

.title-text {
  border: none;
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-weight: 500;
  margin-left: 65px;
  margin-right: 5%;
}

.event-task-buttons {
  width: 100%;
  height: 15%;
  margin-left: 70px;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-button {
  width: 60px;
  height: 40px;
  color:rgb(93, 93, 93);
  border: none;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
  transition: background-color 0.2s;
}
.event-button:hover {
  background-color:rgb(240, 240, 240);
}

.task-button {
  width: 60px;
  height: 40px;
  color: #1967D2;
  background-color: rgb(25, 103, 210, 0.1);
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
  transition: background-color 0.2s;
}
.task-button:hover {
  background-color:rgb(25, 103, 210, 0.2);
}

.date-display-section {
  width: 100%;
  height: 10%;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.date-display-section > i {
  width: 10%;
}
.date-display {
  width: 70%;
}
.add-time-button {
  width: 20%;
  font-size: 12px;
}

.description-section {
  width: 100%;
  height: 25%;
  margin-top: 5px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.description-section > i {
  width: 10%;
}
.description-text {
  border: none;
  width: 80%;
  height: 100px;
  font-size: 15px;
  font-weight: 400;
  line-height: 90px;
}

.task-section {
  width: 100%;
  height: 10%;
  margin-top: 10px;
  margin-left: 20px;
}

.task-section > i {
  width: 10%;
}

.add-task-div {
  width: 100%;
  height: 10%;
  text-align: right;
}

.add-task {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  background-color: rgb(26,115,232);
  color: white;
}